/*Common rules*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 500px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/*Common rules*/

/*header*/ 
header{
    background-color:white;
}
.logo{
    height: 50px;
    margin: 1rem;
}
.nav_bar{
    text-decoration: none;
    text-transform: uppercase;
    color: lightgrey;
    font-size: smaller;
    padding: 20px;
}
.header_img{
   
    border-radius: 10px;
    width:100%;
}
/*header/

/*Main*/
.main_title{
   
}
h2{

}
.subtitle{
 font-size: x-small;
}
.main_content{
    background-color: paleturquoise;
    /*height: 600px;*/
}
.left_column{
    float: left;
    width: 10%;
    height: 400px;
    background-color: rgb(207, 219, 100);
}
.content{
    float: left;
    width: 80%;
    height: 400px;
    background-color: rgb(128, 160, 128);
}
.right_column{
    float: left;
    width: 10%;
    height: 400px;
    background-color: rgb(98, 145, 160);
}
/*footer*/
#footer{
    background-color: rgb(116, 104, 73);
    height: 60px;
}
/*footer*/