/*Common rules*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/*Common rules*/

/*header*/ 
#header{
    background-color:white;
}
.logo{
    height: 50px;
    margin: auto;
}

.nav_bar{
    padding: 5px;
    margin-bottom: 20px;
 
}
.link{
    text-decoration: none;
    color: lightgray;
    font-size: smaller;
    text-transform: uppercase;
}

.header_img{
   
    border-radius: 10px;
    width:100%;
}
/*header/

/*Main*/
.main_title{
   margin-top: 30px;
   margin-bottom: 30px;
   background-color: white;
}
.subtitle{
 font-size:11px;
 color: lightgrey;
}
.main_content{
    background-color: white;
    /*height: 600px;*/
}
.left_column, .right_column{
    float: left;
    width: 25%;
    background-color:white;
}
.content{
    float: left;
    width: 50%;
    background-color: white;
}

.image{
    width:100%;
    height: auto;
}
.text{
    font-size: 11px;
    color: lightgrey;
}

/*footer*/
#footer{
    background-color: white;
    height: 60px;
    margin-top: 30px;
    text-align: center;
}
i{
    color: red;
}
/*footer*/